<footer class="site-footer">
    <ul class="fa-ul">
      {% if site.kajalpatelinfo %}
        <li>
          <a href="https://github.com/{{ site.kajalpatelinfo }}" target="_blank">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
      {% if site.kajalpatelinfo %}
      <li>
        <a href="https://linkedin.com/in/{{ site.kajalpatelinfo }}" target="_blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="me@kajalpatel.info" target="_blank">
          <i class="fa fa-envelope" aria-hidden="true"></i>
         </a>
      </li>
    </ul>
    <span class="site-footer-credits">Copyright © {{ site.time | date: '%Y' }} {{ site.author }}</span>
  </footer>