<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assts/css/style.css">
  </head>
  <body>
    <header class="nav_header">
      <h1 class="logo"><a href="/">Kajal Patel</a></h1>
      <nav>
        <ul class="nav_links">
          <li><a style="color:#606c71" href="/research">Research</a></li>
          <!-- <li><a style="color:#606c71" href="/projects">Projects</a></li> -->
          <!-- <li><a style="color:#606c71" href="/resume">Resume</a></li> -->
        </ul>
      </nav>
      <a class="cta" href="/contact"><button>Contact</button></a>
      <!-- <a href="#" class="nav_btn">Contact Me</a> -->
    </header>
  </body>
</html>