<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assts/css/style.css">
  </head>
  <body>
    <header class="nav_header">
      <h1 class="logo">Kajal Patel</h1>
      <nav>
        <ul class="nav_links">
          <li><a style="color:#606c71" href="/">Home</a></li>
          <li><a style="color:#606c71" href="/about">About</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"><button>Contact Me</button></a>
      <!-- <a href="#" class="nav_btn">Contact Me</a> -->
    </header>
  </body>
</html>